@model KucKuStore.Models.Entities.NGUOIDUNG

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<strong style=" text-align: center; color:blue"><h2>XÓA NGƯỜI DÙNG</h2></strong>
<h3>Xóa người dùng này nhé?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENDN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENDN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATKHAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATKHAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAIL)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("<< Quay về", "Index")
        </div>
    }
</div>
