@using KucKuStore.Models.Entities;

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Mặt hàng</h6>

                        <!--  Catagories  -->
                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#ao">
                                    <a href="#">Áo</a>
                                    <ul class="sub-menu collapse" id="ao">
                                       @foreach(var dm in ViewBag.DANHMUC1)
                                       { 
                                            <li><a href="/SanPham/Shop/@dm.MADM">@dm.TENDM</a></li>
                                        }
                                    </ul>

                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#quan" class="collapsed">
                                    <a href="#">Quần</a>
                                    <ul class="sub-menu collapse" id="quan">
                                        @foreach (var dm in ViewBag.DANHMUC2)
                                         {
                                        <li><a href="/SanPham/Shop/@dm.MADM">@dm.TENDM</a></li>
                                           }
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#cv" class="collapsed">
                                    <a href="#">Váy</a>
                                    <ul class="sub-menu collapse" id="cv">
                                         @foreach(var dm in ViewBag.DANHMUC3)
                                       { 
                                            <li><a href="/SanPham/Shop/@dm.MADM">@dm.TENDM</a></li>
                                        }
                                    </ul>
                                </li>


                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#phukien" class="collapsed">
                                    <a href="#">Phụ kiện</a>
                                    <ul class="sub-menu collapse" id="phukien">
                                         @foreach(var dm in ViewBag.DANHMUC4)
                                       { 
                                            <li><a href="/SanPham/Shop/@dm.MADM">@dm.TENDM</a></li>
                                        }
                                    </ul>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                <div class="total-products">
                                    <p><span>@ViewBag.SANPHAM1.Count</span> sản phẩm</p>
                                </div>
                                <!-- Sorting -->
                                <div class="product-sorting d-flex">
                                    <p>Sort by:</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortByselect">
                                            <option value="value">Mới nhất</option>
                                            <option value="value">Giá: Cao - Thấp</option>
                                            <option value="value">Giá: Thấp - Cao</option>
                                        </select>
                                        <input type="submit" class="d-none" value="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- ##### View Product Start ##### -->
                        @foreach (SANPHAM item in ViewBag.SANPHAM1)
                        {
                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="/Content/img/product-img/@item.HINHANH" alt="">
                                        <!-- Hover Thumb -->
                                        <div class="product-badge offer-badge">
                                            <span>-@item.GIAMGIA %</span>
                                        </div>
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        
                                        <a href="/SanPham/ChiTietSP/@item.MASP">
                                            <h6>@item.TENSP</h6>
                                        </a>
                                        <p class="product-price"><span class="old-price">@item.GIA</span> @(item.GIA-item.GIA*item.GIAMGIA/100)</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="/Cart/AddItem/@item.MASP " class="btn essence-btn">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- ##### View Product End ##### -->


                    </div>
                </div>
                <!-- Pagination -->
               
            </div>
        </div>
    </div>
</section>
<!-- ##### Shop Grid Area End ##### -->