@using KucKuStore.Models.Entities
<!-- ##### Header Area Start ##### -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="/Home/Index"><img src="/Content/img/core-img/2.jpg" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li>
                            <a href="/SanPham/SPMoi">New Arrival</a>
                        </li>
                        <li>
                            <a>Áo</a>
                            <ul class="dropdown">
                                @foreach (var dm in ViewBag.DANHMUC1)
                                {
                                    <li><a href="/SanPham/Shop/@dm.MADM">@dm.TENDM</a></li>
                                }
                            </ul>
                        </li>
                        <li>
                            <a>Quần</a>
                            <ul class="dropdown">
                                @foreach (var dm in ViewBag.DANHMUC2)
                                {
                                    <li><a href="/SanPham/Shop/@dm.MADM">@dm.TENDM</a></li>
                                }
                            </ul>
                        </li>
                        <li>
                            <a >Váy</a>
                            <ul class="dropdown">
                                @foreach (var dm in ViewBag.DANHMUC3)
                                {
                                    <li><a href="/SanPham/Shop/@dm.MADM">@dm.TENDM</a></li>
                                }
                            </ul>
                        </li>
                        <li>
                            <a >Phụ kiện</a>
                            <ul class="dropdown">
                                @foreach (var dm in ViewBag.DANHMUC4)
                                {
                                    <li><a href="/SanPham/Shop/@dm.MADM">@dm.TENDM</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>
        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="/SanPham/TimKIem" method="post">
                    <input  type="search" name="search" id="headerSearch" placeholder="Tìm kiếm">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a href="#"><img src="~/Content/img/core-img/heart.svg" alt=""></a>
            </div>
            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="/Admin/Login/DangNhap1"><img src="~/Content/img/core-img/user.svg" alt=""></a>
            </div>
            <!-- Cart Area -->
            <div class="cart-area">
                <a href="/Cart/GioHang" id="essenceCartBtn"><img src="~/Content/img/core-img/bag.svg" alt=""> <span>@ViewBag.Count</span></a>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->